 <!-- Profile Cards Section -->
 <div class="profile-cards">
    <mat-card class="profile-card">
        <mat-card-header>
            <div mat-card-avatar class="profile-avatar"></div>
            <mat-card-title>LINDAO MONTALVAN EMILY PRISCILA</mat-card-title>
            <mat-card-subtitle>Desarrollador Backend</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Experto en desarrollo de API y gestión de bases de datos.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="profile-card">
        <mat-card-header>
            <div mat-card-avatar class="profile-avatar">
                <img src="https://media.licdn.com/dms/image/v2/D4E03AQEq3OmwS7OEaw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1704250183291?e=1729123200&v=beta&t=7XmM9VsLybN7mnB2pbvaHMHZ5NvIK-rW0cXxTjuX4QQ" alt="Avatar de Juan Pérez" />
            </div>
            <mat-card-title>TIERRA ALVARADO DENNYS MARLON</mat-card-title>
            <mat-card-subtitle>Diseñadora UX/UI / Analista de Datos</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Apasionada por la creación de interfaces de usuario atractivas y funcionales.</p>
        </mat-card-content>
    </mat-card>

    <mat-card class="profile-card">
        <mat-card-header>
            <div mat-card-avatar class="profile-avatar"></div>
            <mat-card-title>SALAZAR TINOCO MOISES ISMAEL</mat-card-title>
            <mat-card-subtitle>Desarrollador Fronted</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Especialista en análisis de datos y visualización de información.</p>
        </mat-card-content>
    </mat-card>
</div>